body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bground-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    overflow: hidden;
    
}

h1 {
    font-family: 'Papyrus', fantasy;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}


header p {
    font-family: 'Papyrus', fantasy;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}



a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    z-index: 1;
}

nav {
    position: fixed;
    bottom: 5%;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 0 auto; 
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1; 
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Papyrus', fantasy;
    max-width: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

nav li {
    margin-right: 5x;
 
}

nav ul li a:hover {
    text-shadow: 0 0 10px red, 0 0 10px black;
}
main p {
    color: white;
    font-family: 'Papyrus', fantasy;
    font-size: 15px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 28.5%;
    top: 15%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background: transparent;
    backdrop-filter: blur(10px);
}



